<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctorController</servlet-name>
        <servlet-class>sample.controllers.SearchDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDoctor</servlet-name>
        <servlet-class>sample.controllers.ManageDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorController</servlet-name>
        <servlet-class>sample.controllers.DeleteDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatientController</servlet-name>
        <servlet-class>sample.controllers.DeletePatientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctorController</servlet-name>
        <url-pattern>/SearchDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDoctor</servlet-name>
        <url-pattern>/ManageDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorController</servlet-name>
        <url-pattern>/DeleteDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatientController</servlet-name>
        <url-pattern>/DeletePatientController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
